:root {
    --color-primary: #08A6E4;
    --color-red: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --button-radius: 35px;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-open-sans);
}

a {
    text-decoration: none;
}

.container {
    width: 1626px;
    margin: 0 auto;
}

/* Header */

.header {
    height: 70px;
    box-shadow: 0 3px 6px #00000029;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav_header {
    display: flex;
}

.nav_element {
    padding: 26px;
}

.nav_element:last-child {
    padding-right: 136px;
}

.nav_link {
    color: var(--color-grey);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px;
    padding: 28px 18px 27px 22px;
    letter-spacing: 3.28px;
    border-bottom: 4px solid transparent;
}

.nav_link:hover {
    color: var(--color-black);
    border-color: var(--color-primary);
}

.LogoBestShop {
    font-family: var(--font-raleway);
    font-size: 2rem;
    font-weight: 300;
    color: var(--color-primary);
    padding-left: 136px;
}

/* main */
.opening {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.opening_content {
    margin-top: 130px;
    text-align: center;
}

.opening_header {
    font-family: var(--font-raleway);
    font-size: 49px;
}

.opening_heading {
    margin-top: 20px;
    margin-bottom: 38px;
}

.opening_image {
    width: 100%;
    height: auto;
}

.btn {
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 16px 65px;
    border-radius: var(--button-radius);
    border: none;
}

.btn--primary {
    background-color: var(--color-primary);
    border-radius: 40px;
    box-shadow: 3px 10px 14px var(--color-primary-shadow);
}

.btn--large {
    padding: 22px 155px;
}

/*statistics*/

.statistics {
    margin-top: 100px;
}

.statistics_container {
    max-width: 800px;
    margin: 100px auto 120px;
    display: flex;
    justify-content: space-between;
}

h2 {
    font-family: var(--font-raleway);
    font-size: 2.25rem;
    text-align: center;
}

.statistics_single {
    max-width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-family: var(--font-raleway);
}

.statistics_circle {
    border-radius: 50%;
    width: 63px;
    height: 63px;
    position: relative;
}

.statistics_img {
    position: absolute;
}

.statistics_single:nth-child(1) .statistics_circle {
    background-color: var(--color-red);
}

.statistics_single:nth-child(1) .statistics_img {
    top: 0;
    left: 50%;
}

.statistics_single:nth-child(2) .statistics_circle {
    background-color: var(--color-primary);
}

.statistics_single:nth-child(2) .statistics_img {
    top: 14px;
    left: 50%;
}
.statistics_single:nth-child(3) .statistics_circle {
    background-color: var(--color-green);
}

.statistics_single:nth-child(3) .statistics_img {
    top: 6px;
    left: 50%;
}

.statistics_number {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 5.96px;
    margin-top: 13px;
}

.statistics_des {
    color: var(--color-grey);
    margin-top: 19px;
}
/*benefity*/

.benefits {
    padding: 100px 0;
    background-color: var(--color-light-grey);
}

.benefits_container {
    padding: 0 100px;
}

.benefits_single {
    background-color: white;
    border: 1px solid #E8E9ED;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 37px;
    border-radius: 5px;
}

.benefits_text {
    max-width: 415px;
    margin: 90px 36px;
}

.benefits_text::after{
    content: "";
    width: 332px;
    height: 4px;
    background-color: #FB3B64;
    display: block;
    margin-top: 50px;
}

.benefits_des {
    margin-top: 30px;
    line-height: 22px;
}

.benefits_image {
    position: relative;
}

.benefits_image img {
    position: relative;
    z-index: 2;
}

.benefits_single_notebook .benefits_image {
    margin-right: 117px;
    margin-bottom: 38px;
}

.benefits_single_notebook .benefits_image::before {
    content: "";
    width: 180px;
    height: 180px;
    background-color: var(--color-red);
    display: block;
    border-radius: 40px;
    position: absolute;
    right: 0;
    top: -40px;
    transform: rotate(45deg);
}

.benefits_single_notebook .benefits_image img {
    width: 386px;
    height: auto;
}